[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pydnserver = "*"
scapy = "*"
pycryptodome = "*"
prompt-toolkit = "*"

[requires]
python_version = "3.12"
